{% extends "base.html" %}

{% block title %}
	Tasks
{% endblock title %}


{% block content %}
	
	<div class="col-8 mt-5">
		<form id="createTaskForm" class="form-inline" method="post" data-url="{% url 'task_list' %}">
			{% csrf_token %}
			{% for field in form %}
				{{ field }}
			{% endfor %}

			<button id="createButton" type="button" class="btn btn-outline-success">Create</button>
		</form>
	</div>

	<div class="col-5 mt-5" id="taskList">
		
		{% for task in tasks %}
			<div class="card mb-1" id="taskCard" data-id="{{ task.id }}" style="{% if task.completed %} text-decoration: line-through {%endif%}">
				<div class="card-body ">
					{{ task.title }}
					<button type="button" class="btn-close float-end" data-id="{{ task.id }}"></button>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock content %}